spring:
  application:
    name: notification-service
  config:
    import: configserver:http://config-service:8888

  kafka:
    bootstrap-servers: localhost:9092

  mail:
    host: localhost
    port: 1025

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka/
    enabled: true
